*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 204, 2);
    text-align: center;
}
.container{
   border: 8px solid rgb(34, 34, 33);
   box-shadow: 10px 10px rgb(34, 34, 33);
   margin: 50px auto;
   padding: 10px;
   width: 500px;
   border-radius: 12px;
   /* height: 100vh; */
}
h1{
    margin-top: 10px;
    margin-bottom: -50px;
}
img{
    margin-bottom: -140px;
    margin-top: -10px;
    width: 200px;
    height: 280px;
}
.ui{
    margin: 85px 20px -90px 20px;
    background-color: white;
    border-radius: 6px;
    box-shadow: -10px 5px 50px rgb(213, 213, 71);
    height: 100px;
    width: auto;
    font-size: 30px;
    font-weight: bold;
    padding: 30px 10px 10px 10px;
}
.input{
    /* background-color: rgb(34, 37, 245); */
    margin: 100px 10px 10px 10px;
    padding: 5px;
    border: none;
}
.input label{
    margin-top: 20px;
    margin-bottom: -20px;
    display: block;
}
.container .input input{
    box-shadow: 5px 5px rgb(34, 34, 33);
    width: 100px;
    height: 50px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    color:rgb(249, 203, 17) ;
}
.container .input > input:nth-child(9){
    width: 330px;
}
.input button{
    margin-top: 50px;
    width: 200px;
    height: 50px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    color:rgb(232, 185, 0) ;
    box-shadow: 5px 5px rgb(34, 34, 33);
}
.input button:hover{
    background-color:rgb(232, 185, 0);
    color: white;
}
.input .btn{
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: center;
}
.input .btn > button:nth-child(2){
    background-color: rgb(216, 5, 5);
    color: white;
    border: none;
}
.input .btn > button:nth-child(2):hover{
    background-color: rgb(255, 255, 255);
    color: rgb(232, 185, 0);
    border: none;
}

@media screen and (max-width: 575.98px) {
    .container{
        border: none;
        box-shadow: none;
        margin: 50px auto;
        padding: 10px;
        width: 100vw;
        height: 100vh;
     }
}
@media screen and (max-width: 991.98px) {
    .container{
        border: none;
        box-shadow: none;
        margin: 50px auto;
        padding: 10px;
        width: 100vw;
        height: 100vh;
     }

     .ui {
        margin: 180px 20px -90px 20px;
        background-color: white;
        border-radius: 6px;
        box-shadow: -10px 5px 50px rgb(213, 213, 71);
        height: 300px;
        width: auto;
        font-size: 80px;
        font-weight: bold;
        padding: 90px 10px 10px 10px;
      }

      .input input {
        box-shadow: 10px 10px rgb(34, 34, 33);
        width: 260px;
        height: 100px;
        border-radius: 6px;
        text-align: center;
        font-weight: bold;
        padding: 20px;
        font-size: 40px;
        margin: 8px;
        color: rgb(249, 203, 17);
      }

      .input button {
        margin-top: 170px;
        width: 680px;
        height: 110px;
        border-radius: 6px;
        font-size: 35px;
        font-weight: bold;
        color: rgb(232, 185, 0);
        background-color: white;
        box-shadow: 10px 10px rgb(34, 34, 33);
      }

      h1 {
        margin-top: 50px;
        font-size: 50px;
      }
      img {
        margin-bottom: -150px;
        margin-top: -20px;
        width: 350px;
        height: 380px;
      }
}